<div id="<%= dom_id plant %>">
  <p>
    <strong>Name:</strong>
    <%= plant.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= plant.category %>
  </p>

  <p>
    <strong>Last watered:</strong>
    <%= plant.last_watered %>
  </p>

</div>
